<div class="page">
  <div class="login-box">
    <h2>Registro</h2>

    <form (ngSubmit)="register($event)">

      <div class="user-box">
        <input type="text" name="nombre" [(ngModel)]="nombre" required  placeholder=" "/>
        <label>Nombre</label>
      </div>

      <div class="user-box">
        <input type="text" name="apellido" [(ngModel)]="apellido" required  placeholder=" "/>
        <label>Apellido</label>
      </div>

      <div class="user-box">
        <input type="number" name="edad" [(ngModel)]="edad" required  placeholder=" "/>
        <label>Edad</label>
      </div>

      <div class="user-box">
        <input type="email" name="email" [(ngModel)]="email" required placeholder=" "/>
        <label>Email</label>
      </div>

      <div class="user-box password-box">
        <input
          [type]="showPassword ? 'text' : 'password'"
          name="password"
          [(ngModel)]="password"
          required
          placeholder=" "
        />

        <label>Contraseña</label>

        @if (password) {
          <button
            type="button"
            class="eye-button"
            (click)="showPassword = !showPassword"
          >
            {{ showPassword ? '🙈' : '👁️' }}
          </button>
        }
      </div>

      <div class="user-box password-box">
        <input
          [type]="showConfirmPassword ? 'text' : 'password'"
          name="confirmPassword"
          [(ngModel)]="confirmPassword"
          required
          placeholder=" "
        />

        <label>Confirmar Contraseña</label>

        @if (confirmPassword) {
          <button
            type="button"
            class="eye-button"
            (click)="showConfirmPassword = !showConfirmPassword"
          >
            {{ showConfirmPassword ? '🙈' : '👁️' }}
          </button>
        }
      </div>


      @if (error) {
      <p class="login-error">{{ error }}</p>
      }
      <button type="submit" class="submit-button">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Registrarse
      </button>

    </form>
  </div>
</div>