<nav class="navbar">
  <div class="navbar-content">
    <div class="logo-container">
      <img src="logoTP.png" alt="Icono" class="logo-img">
      <span>Sala de Juegos</span>
    </div>

    <ul class="nav-links">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <li><a routerLink="/registro" routerLinkActive="active">Registro</a></li>
      <li><a routerLink="/foro" routerLinkActive="active">Foro</a></li>
      <li><a routerLink="/quien-soy" routerLinkActive="active">Quién Soy</a></li>
    </ul>
  </div>
</nav>