:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.message-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  max-width: 80%;
  width: fit-content;
  align-self: flex-start !important; 
}

.message-wrapper.own-message {
  align-self: flex-end !important; 
}

.message-bubble {
  padding: 10px 16px;
  background: rgba(188, 19, 254, 0.02);
  border: 1px solid rgba(194, 52, 250, 0.4);
  border-radius: 12px;
  color: #ffffff;
}

.user-name {
  color: #c43bfa; 
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.own-message .message-bubble {
  border-color: rgba(0, 242, 255, 0.6) !important;
  background: rgba(0, 242, 255, 0.03) !important;
}

.own-message .user-name {
  color: #00f2ff !important; 
}

.message-info {
  display: flex;
  gap: 8px;
  margin-bottom: 4px;
  font-size: 0.8rem;
}

.own-message .message-info {
  flex-direction: row-reverse;
}

.message-time { color: #666; }
.message-text { margin: 0; font-family: 'Inter', sans-serif; font-size: 0.83rem; }


.message-wrapper.error .message-bubble {
    border-color: #ffcc00 !important;
    opacity: 0.8;
}

.error-indicator {
    color: #ffcc00;
    font-size: 0.8rem;
    margin-top: 4px;
    display: flex;
    align-items: center;
    gap: 5px;
    animation: fadeIn 0.3s ease;
}

.own-message .error-indicator {
    justify-content: flex-end;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}