<app-navbar [usuario]="usuario"></app-navbar>

<div class="page">
  <div class="login-box">
    <h2>Login</h2>

    <!-- FORMULARIO -->
    <form (ngSubmit)="login($event)">

      <div class="user-box">
        <input type="email" name="email" [(ngModel)]="email" autocomplete="current-email" #emailInput="ngModel"
          required />
        @if (emailInput.invalid && emailInput.touched) {
        <div class="login-error">
          Email requerido
        </div>
        }
        <label>Email</label>
      </div>

      <div class="user-box">
        <input type="password" name="password" [(ngModel)]="password" autocomplete="current-password" required />
        <label>Contraseña</label>
      </div>

      <!-- ERROR DE LOGIN -->
      @if (error) {
      <p class="login-error">{{ error }}</p>
      }

      <button type="submit" class="submit-button">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Ingresar
      </button>

    </form>

    <!-- LOGIN RÁPIDO (afuera del form) -->
    <div class="quick-login">
      <p>Acceso rápido:</p>
      <button type="button" (click)="loginRapido(0)">Usuario 1</button>
      <button type="button" (click)="loginRapido(1)">Usuario 2</button>
      <button type="button" (click)="loginRapido(2)">Usuario 3</button>
    </div>

  </div>
</div>